.countdown-wrap {
  padding: 0;
}

.countdown-items {
  display: inline-block;
  font-size: 3vmin;
  text-transform: uppercase;
  letter-spacing: 1vmin;
  font-weight: 100;
  list-style-type: none;
  padding: 2vmin;
}

.countdown-time {
  display: block;
  font-size: 9vmin;
}

.time-over {
  text-transform: uppercase;
  letter-spacing: 1vmin;
  font-weight: 100;
  font-size: 10vmin;
}
