.buttons-wrapper .btn,
.buttons-wrapper .btn::before,
.buttons-wrapper .btn i {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.buttons-wrapper .btn::before {
  top: 90%;
  left: -110%;
}

.buttons-wrapper .btn i {
  transform: scale(0.8);
}

.buttons-wrapper .btn.codepen i {
  color: #61dafb;
}
.buttons-wrapper .btn.codepen::before {
  background-color: #61dafb;
}

.buttons-wrapper .btn.github i {
  color: #61dafb;
}
.buttons-wrapper .btn.github::before {
  background-color: #61dafb;
}

.buttons-wrapper .btn.instagram i {
  color: #61dafb;
}
.buttons-wrapper .btn.instagram::before {
  background-color: #61dafb;
}

.buttons-wrapper .btn.linkedin i {
  color: #61dafb;
}
.buttons-wrapper .btn.linkedin::before {
  background-color: #61dafb;
}

.buttons-wrapper .btn:focus::before,
.buttons-wrapper .btn:hover::before {
  top: -10%;
  left: -10%;
}

.buttons-wrapper .btn:focus i,
.buttons-wrapper .btn:hover i {
  color: #282c34;
  transform: scale(1);
}

.buttons-wrapper {
  height: auto;
  width: 100%;
  font-size: auto;
  text-align: center;
  margin: auto;
}

.buttons-wrapper .btn {
  position: relative;
  width: 9vmin;
  height: 9vmin;
  line-height: 9vmin;
  display: inline-block;
  background-color: transparent;
  text-align: center;
  overflow: hidden;
  margin: 0 1vmin;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px rgba(red, green, blue, alpha);
  opacity: 0.99;
}
.buttons-wrapper .btn::before {
  content: '';
  position: absolute;
  width: 120%;
  height: 120%;
  transform: rotate(45deg);
}

.buttons-wrapper .btn i {
  font-size: 5vmin;
  vertical-align: middle;
}
