.component {
  box-sizing: border-box;
}

.growl {
  position: fixed;
  width: 20rem;
}

.topright {
  bottom: auto;
  right: 20px;
  top: 20px;
}

.topleft {
  bottom: auto;
  left: 20px;
  top: 20px;
}

.bottomleft {
  bottom: 20px;
  left: 20px;
  top: auto;
}

.bottomright {
  bottom: 20px;
  right: 20px;
  top: auto;
}

@media screen and (max-width: 768px) {
  .growl {
    width: 40%;
  }
}
