.p-component {
  box-sizing: border-box;
}

.p-growl {
  position: fixed;
  width: 20rem;
}

@media screen and (max-width: 768px) {
  .p-growl {
    width: 40%;
  }
}

.p-growl.p-growl-topright {
  top: 20px;
  bottom: auto;
  right: 20px;
}

.p-growl.p-growl-topleft {
  top: 20px;
  bottom: auto;
  left: 20px;
}

.p-growl.p-growl-bottomleft {
  top: auto;
  bottom: 20px;
  left: 20px;
}

.p-growl.p-growl-bottomright {
  top: auto;
  bottom: 20px;
  right: 20px;
}

.p-growl-item-container {
  position: relative;
  padding: 0.5rem;
  margin: 0 0 1rem 0;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3);
  border-radius: 7px;
}

.p-growl-item {
  position: relative;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.p-growl-item p {
  padding: 0;
  margin: 0;
}

.p-growl-icon-close {
  position: absolute;
  top: 4px;
  right: 4px;
  cursor: pointer !important;
}

.p-link {
  background: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: left;
  box-sizing: border-box;
}

.p-growl-title {
  padding: 0 0 0.5rem 0;
  font-weight: bold;
  display: block;
  color: var(--black);
}

.p-growl-details {
  margin-top: 0.5em;
}

.p-growl-image {
  position: absolute;
  font-size: 1.5rem;
  color: var(--bg) !important;
}

.p-growl-message {
  margin-left: 3em;
  align-self: center;
}

@media screen and (max-width: 768px) {
  .p-growl-message {
    margin-left: 2.5rem;
  }
}

.p-growl-message p {
  font-weight: normal;
}

/* Animations */
.p-growl-enter {
  opacity: 0.01;
}

.p-growl-enter.p-growl-enter-active {
  opacity: 1;
  transition: opacity 5ms ease-in;
}

.p-growl-exit {
  max-height: 500px;
}

.p-growl-exit.p-growl-exit-active {
  max-height: 0;
  overflow: hidden;
  margin-bottom: 0;
  transition: max-height 5s cubic-bezier(0, 1, 0, 1), margin-bottom 0.5s cubic-bezier(0, 1, 0, 1);
}
