.footer {
  align-items: center;
  bottom: 0;
  color: var(--text);
  display: flex;
  font-size: 3vmin;
  font-weight: 100;
  height: 7vmin;
  justify-content: center;
  margin: 1vmin;
  position: absolute;
  width: calc(100vw - 2vmin);

  .link {
    color: var(--random-color);
    transition: color 2s ease;
  }
}
