.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  position: absolute;
  top: 5%;
}

.App-logo {
  height: 10vmin;
  width: 10vmin;
  border: 0.25vmin solid var(--random-color);
  border-radius: 50%;
  pointer-events: none;
}

svg,
.reactIconButton {
  height: 10vmin;
  width: 10vmin;
  border: 0.25vmin solid;
  border-radius: 50%;
  pointer-events: none;
  margin: 0vmin !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo,
  svg {
    animation: App-logo-spin infinite 20s linear;
  }
}

.reactIconButton {
  position: absolute;
  pointer-events: all;
  background-color: transparent;
  border: 0.5vmin solid transparent;
  transform: translateX(-103%);
}

.App-title {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 2vmin;
  margin-top: 3vmin;
  margin-bottom: 1vmin;
}

.subtitle-wrap {
  background: transparent;
  outline: none;
  position: relative;
  overflow: hidden;
}

.subtitle-wrap:hover::before {
  opacity: 1;
  transform: translate(0, 0);
}

.subtitle-wrap::before {
  content: attr(data-hover);
  position: absolute;
  top: 35%;
  left: 0;
  width: 100%;
  letter-spacing: 1vmin;
  font-weight: 100;
  font-size: 2.5vmin;
  opacity: 0;
  transform: translate(-100%, 0);
  transition: all 0.3s ease-in-out;
}

.subtitle-wrap:hover h2 {
  opacity: 0;
  transform: translate(100%, 0);
}

.subtitle-wrap h2 {
  text-transform: uppercase;
  letter-spacing: 1vmin;
  font-weight: 100;
  font-size: 2.5vmin;
  transition: all 0.3s ease-in-out;
}

.subtitle {
}

.App-countdown {
}

section {
  display: flex;
  flex-direction: column;
}

/* .App-notifyme {
  position: relative;
  top: 10vmin;
}

.App-socialmedia {
  position: relative;
  top: 10vmin;
} */

.App-link {
  color: var(--random-color);
}

.App-footer {
  position: absolute;
  bottom: 5vmin;
  font-weight: 100;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
