.App-main {
  left: 0;
  width: calc(100vw - 2vmin);
  height: calc(100vh - 30vmin);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1vmin;
  position: absolute;
  top: 15vmin;
}

.App-logo {
  height: 10vmin;
  width: 10vmin;
  border: 0.25vmin solid var(--random-color);
  border-radius: 50%;
  pointer-events: none;
}

.App-countdown {
}

.App-socialmedia {
}

.App-info,
.App-countdown,
.App-socialmedia,
.App-notifyme {
  /* width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1vmin;
  top: 0;
  position: relative; */
}
