:root {
  --bg: #f9fafb;
  --text: #282c34;
  --random-color: #61dafb;
  --react: #61dafb;
}

.dark-mode {
  --bg: #282c34;
  --text: #f9fafb;
  --placeholder: #ffffffb3;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
