.App-footer {
  position: absolute;
  width: calc(100vw - 2vmin);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  font-size: 3vmin;
  color: var(--text);
  bottom: 0;
  margin: 1vmin;
  height: 7vmin;
}

.App-link {
  color: var(--random-color);
}
